
.form_item_wrap {
  margin-top: 10px;

  .form_item_label {
    display: inline-block;
    vertical-align: middle;
    min-width: 100px;
    text-align: right;
  }
  .form_item_tip {
    display: inline-block;
    vertical-align: middle;
    color: #22801b;

    &.invalid {
      color: #ff4450;
    }
  }
}